<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
        <!--本地缓存机制，防止循环引用，缓存一个会话中的所有缓存-->
        <setting name="localCacheScope" value="SESSION"/>
        <!--为空值指定JDBC类型 varchar null other-->
        <setting name="jdbcTypeForNull" value="OTHER"/>
    </settings>

    <typeAliases>
        <typeAlias type="websale.sale.model.Item" alias="Item"/>
        <typeAlias type="websale.sale.model.Client" alias="Client"/>
    </typeAliases>
    <mappers>
        <mapper url="file:///Users/duanshibo/Desktop/myjava/pinduoduo/src/main/resources/mapper/ItemMapper.xml "/>
        <mapper resource="mapper/OrderAndItemMapper.xml"/>
    </mappers>
    <!-- Continue going here -->
</configuration>