<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item_post_test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link th:href="@{/css/fileinput.min.css}" href="../static/css/fileinput.min.css" rel="stylesheet">

    <style>
        /*web background*/

        .container{
            display:table;
            height:100%;
        }

        .row{
            display: table-cell;
            vertical-align: middle;
        }
        /* centered columns styles */
        .row-centered {
            text-align:center;
        }
        .col-centered {
            display:inline-block;
            float:none;
            text-align:left;
            margin-right:-4px;
        }


    </style>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script th:src="@{/js/piexif.min.js}" src="../static/js/piexif.min.js"></script>
<script th:src="@{/js/purify.min.js}" src="../static/js/purify.min.js"></script>
<script th:src="@{/js/sortable.min.js}" src="../static/js/sortable.min.js"></script>
<script th:src="@{js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<script th:src="@{/js/fileinput.min.js}" src="../static/js/fileinput.min.js"></script>
<!--
<script>
    $(document).ready()
    {
        $('#file').fileinput({
            //初始化上传文件框
            showUpload: true, //显示整体上传的按钮
            showRemove: true,//显示整体删除的按钮
            uploadAsync: true,//默认异步上传
            uploadLabel: "upload",//设置整体上传按钮的汉字
            removeLabel: "remove",//设置整体删除按钮的汉字
            uploadClass: "btn btn-primary",//设置上传按钮样式
            showCaption: true,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            uploadUrl: getPath('/gz/tool/toolAction/uploadImgFile'),//这个是配置上传调取的后台地址，本项目是SSM搭建的
            maxFileSize: 9999,//文件大小限制
            maxFileCount: 9999,//允许最大上传数，可以多个，
            enctype: 'multipart/form-data',
            allowedFileExtensions: ["jpg", "png", "gif", "docx", "zip", "xlsx", "txt"],/*上传文件格式限制*/
            msgFilesTooMany: "{n} {m}！",
            showBrowse: true,
            browseOnZoneClick: true,
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });
    }
</script>
-->
<input id="input-b2" name="input-b2" type="file" class="file" data-show-preview="false">
<div class="container">
    <div class="row row-centered">
        <div class="well col-md-6 col-centered">
            <form class="form-horizontal" action="/create/item" method="post" enctype="multipart/form-data">
                <div class="control-group">
                    <label class="control-label" for="storeId">storeId</label>
                    <div class="controls">
                        <input type="text" id="storeId" name="storeId" placeholder="storeId">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="number">number</label>
                    <div class="controls">
                        <input type="text" id="number" name="number" placeholder="number">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">name</label>
                    <div class="controls">
                        <input type="text" id="name" name="name" placeholder="name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="category">category</label>
                    <div class="controls">
                        <input type="text" id="category" name="category" placeholder="category">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="price">price</label>
                    <div class="controls">
                        <input type="text" id="price" name="price" placeholder="price">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="discount">discount</label>
                    <div class="discount">
                        <input type="text" id="discount" name="discount" placeholder="discount">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="descriptor">descriptor</label>
                    <div class="discount">
                        <input type="text" id="descriptor" name="descriptor" placeholder="descriptor">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">File</label>
                    <div class="controls">
                        <input id="input-b2" name="file" type="file" class="file" data-show-preview="false">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>