<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link th:href="@{/bootstrap-fileinput/css/fileinput.min.css}" href="../static/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link th:href="@{/bootstrap-fileinput/themes/explore-fas/theme.min.css}" href="../static/bootstrap-fileinput/themes/explorer-fas/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script th:src="@{/bootstrap-fileinput/js/plugins/piexif.js}" src="../static/bootstrap-fileinput/js/plugins/piexif.js" type="text/javascript"></script>
    <script th:src="@{/bootstrap-fileinput/js/plugins/sortable.js}" src="../static/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
    <script th:src="@{/bootstrap-fileinput/js/fileinput.js}" src="../static/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
    <script th:src="@{/bootstrap-fileinput/themes/fas/theme.js}" src="../static/bootstrap-fileinput/themes/fas/theme.js" type="text/javascript"></script>
    <script th:src="@{/bootstrap-fileinput/themes/explore-fas/theme.js}" src="../static/bootstrap-fileinput/themes/explorer-fas/theme.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>


</head>
<body>
<!-- 导航栏 -->
<div class="row">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="offset1">
                    <a class="brand" href="#">
                        <i class="icon-home icon-white"></i>
                        Index
                    </a>
                </li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="offset3">
                    <form class="navbar-search pull-left">
                        <i class="icon-search icon-white"></i>
                        <input type="text" class="search-query span4" placeholder="Search Item" data-provide="typeahead"
                               data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware",
                                   "Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky",
                                   "Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi",
                                   "Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico",
                                   "New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania",
                                   "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont",
                                   "Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'/>
                        <!-- TODO 通过函数完成自动补全与提示 -->
                        <button type="submit" class="btn">Search</button>
                    </form>
                </li>
                <li class="offset6">
                    <a href="#loginModal" data-toggle="modal">Login</a>
                </li>
                <li class="dropdown">
                    <a href="#" id="userDropdown" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                        <i class="icon-user icon-white"></i>
                        {username}
                        <span class="badge badge-info">3</span>
                        <!--TODO 根据用户的消息数量显示-->
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Profile</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Cart</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">
                                Message
                                <span class="badge badge-important">3</span>
                                <!--TODO 根据用户的消息数量显示-->
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">History</a>
                        </li>
                        <!-- TODO 根据用户是否是店主来决定是否有这个选项-->
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Store</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalHeader" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="loginModalHearder">Login</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row row-centered">
                        <div class="well col-md-6 col-centered">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="login_username">Username</label>
                                    <div class="controls">
                                        <input type="text" id="login_username" name="username" placeholder="Username">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="login_inputPassword">Password</label>
                                    <div class="controls">
                                        <input type="password" id="login_inputPassword" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" name="rememberMe"> Remember me
                                        </label>
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                        <a href="#registerModal" role="button" class="btn" data-toggle="modal" data-dismiss="modal">Register</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>

        <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-header">
                <h3 id="registerModalLabel">Register</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row row-centered">
                        <div class="well col-md-6 col-centered">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="username">Username</label>
                                    <div class="controls">
                                        <input type="text" id="username" name="username" placeholder="Username">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Password</label>
                                    <div class="controls">
                                        <input type="password" id="inputPassword" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="age">Age</label>
                                    <div class="controls">
                                        <input type="text" id="age" name="age" placeholder="Age">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Email</label>
                                    <div class="controls">
                                        <input type="email" id="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="phone">Phone</label>
                                    <div class="controls">
                                        <input type="text" id="phone" name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="radio inline">
                                        <div class="controls">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="man" checked>
                                            Man
                                        </div>
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="radio inline">
                                        <div class="controls">
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="woman">
                                            Woman
                                        </div>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="row profileRow">
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- 标签页目录-->
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab"><i class="icon-user"></i>Profile</a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab"><i class="icon-shopping-cart"></i>Cart</a>
                    </li>
                    <li>
                        <a href="#tab3" data-toggle="tab"><i class="icon-comment"></i>Message</a>
                    </li>
                    <li>
                        <a href="#tab4" data-toggle="tab"><i class="icon-time"></i>History</a>
                    </li>
                    <li>
                        <a href="#tab5" data-toggle="tab"><i class="icon-home"></i>Store</a>
                    </li>
                </ul>
                <!-- TODO 标签内容-->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <p>Tab1 Description...</p>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>Tab2 Description...</p>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <p>Tab3 Description...</p>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <p>Tab4 Description...</p>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <p>Tab5 Description...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>