<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>

    <insert id="insertClient" parameterType="Client" useGeneratedKeys="true" keyProperty="id">
        insert into client(phonenumber,password,username,address) values(#{phoneNumber},#{password},#{userName},#{address})
    </insert>

</mapper>