<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="selectItemsByIds" parameterType="List" resultMap="ItemList">
        select * from item where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <resultMap id="ItemList" type="Item">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="category" column="category"/>
        <result property="price" column="price"/>
        <result property="discount" column="discount"/>
        <result property="descriptor" column="descriptor"/>
        <result property="imagePath" column="imagepath"/>
    </resultMap>
</mapper>