<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <update id="updatestoreanditems" parameterType="list">
        update storeanditem
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="number =case " suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when itemid=#{item.itemid} then number-#{item.number}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item.itemid}
        </foreach>
    </update>
</mapper>