<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <update id="updatestoreanditems" parameterType="list">
        <foreach collection="list" open="" close="" separator=";" item="item">
            update m
        </foreach>
    </update>
</mapper>